@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin-top: 300px;
    position: relative;
}

.desc{
    width: auto;
    height: 100vh;
    position: relative;
}

.desc .descc img{
    width: 98vw;
    height: 500px;
    position: relative;
}

.feel{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    position: absolute;
    top: 60px;
    right: 20px;
    color: #ec4067;
}